<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Painel Atedimento</title>
</head>
<body>
    <div>
        <div class="senha-atual-box">
            <div class="painel">A0003</div>
            <div class="painel">&#8594;</div>
            <div class="painel">G1</div>
        </div>
        <div class="painel-proximo">
            <div class="painel-header">
                <header>Próximos</header>
            </div>
            <div class="proximo-item">
                {% for i in data.dados %}
                    <div class="{{i.id_cliente}}">{{i.ds_cliente}}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>